{% extends '_base.html' %}
{% load i18n %}
{% block title %}
  {% translate "Leave feedback" %}
{% endblock title %}
{% block content %}
  <section>
    <div>
      <div>
        <h1>{% translate "Leave feedback" %}</h1>
      </div>
      <div>
        {% include "includes/messages.html" %}
        <form method="post">
          {% csrf_token %} {{ form }}
          <div>
            <button type="submit">{% translate "Submit" %}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
