<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="{% url 'admin:index' %}">Admin</a>
<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="{% url 'feedback' %}">Feedback</a>
<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="/api/">API</a>
<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="{% url 'swagger' %}">Swagger</a>
<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="{% url 'redoc' %}">Redoc</a>
<a class="self-start text-lg font-normal normal-case btn btn-ghost"
   href="/silk/">Silk</a>
